html{
  color:#000e24;
}
body {
  font-family: Verdana;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15px;
  grid-gap: 5px;
  margin: 5px 0;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
